@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

.nav-pills {
  --bs-nav-pills-link-active-bg: grey;
}

.nav-link {
  color: black;
}


.nav-item {

  font-size: 1rem;
}

.intro {
  background-image: url(./img/site/websiteBackground11Maxium14HueSaturation31Wave.png); 
  background-repeat: repeat;  
  background-position: center;  
  background-size: contain;     
  
}

.jumbotron {
  background-image: url(./img/site/jumbotron2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* opacity: .92;  */
  margin-top: 130px;
   height: 375px; 
}



.jumbotron h1 {
  padding-top: 50px;
  padding-bottom: 50px;
  color:green;
  text-shadow: 2px 2px 7px black
  
}

.jumbotron p {
  
  color:green;
  text-shadow: 2px 2px 7px black
  
}



#billyCarousel {
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, .7);
}

#billyCarousel .carousel-control-prev-icon {
  
  border: thin solid black;
  background-color: red;
  
}

#billyCarousel .carousel-control-next-icon {
  
  border: thin solid black;
  background-color: red;
  
}

#section1 h1 {
  color: black;
  text-shadow: 2px 2px 4px white;
}

#section2 h1 {
  color: grblackeen;
  text-shadow: 2px 2px 4px white;
}

#section3 h1 {
  color: black;
  text-shadow: 2px 2px 4px white;
}

#section3 #postNote01 {

  width: 20rem;
}


#section3 #postNote02 {

  width: 20rem;
}

#section4 h1 {
  color: black;
  text-shadow: 2px 2px 4px white;
}

#section4 .card {
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, .7);
  border: none;
}

#section4 .card h3 {
  
  text-shadow: 2px 2px 4px #white;
}

#section5 h1 {
  color: black;
  text-shadow: 2px 2px 4px white;
}

#section5 #contactData {
  text-shadow: 2px 2px 4px white;
}

#section5 #contactData p{
  font-size: 2.5rem;
}

#section5 #contactData a{
  font-size: 2.5rem;
}

#section5 .bi {
  font-size: 2.5rem;
  color: black;
}

#section5 a {
  color: black;
}





.card {
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, .7);
}

audio{
  max-height: 100%;
  max-width: 100%;
  margin: auto;
  object-fit: contain;
}

footer {
  background-color: orange;
  height: 150px; 
}

footer .d-flex {
  height: 150px; 
}

footer p {
  color: #aaa311;
  margin-bottom: 0px;
}


/*Extra Small
All smart phones
*/
@media (max-width: 575px) {

  #firstNavItem {
  
     margin-left: 0px!important;
     
  }

  .nav-item {

    font-size: 1rem;
  }

  .jumbotron {
    height: 180px;
  }
  
  .jumbotron h1 {
    padding-top:0px;
    padding-bottom: 0px;
    text-shadow: 2px 2px 1px black
    
  }
  
  
  .jumbotron p {
    
    color:green;
    text-shadow: 2px 2px 1px black
    
  }

  #section3 #postNote01 {
    /* border: thin solid red; */
    width: auto;
  }

  #section3 #postNote02 {

    width: auto;
  }
  
  #section4 .card {
    width: auto!important;
    
  }

  #section5 #contactData p{
    font-size: 1.5rem;
  }
  
  #section5 #contactData a{
    font-size: 1.5rem;
  }
  
  #section5 .bi {
    font-size: 1.5rem;
  }

  .intro {
    background-image: url(./img/site/websiteBackground11Maxium14HueSaturation31Wave.png); 
    background-repeat: repeat;  
    background-position: center;  
    background-size: contain;  
    /* border: thick solid green;    */
    
  }
  
  /* body {
    border: thick solid red;
  } */
  
}

/*Small
iPhone 6/7/8 in lanscape mode
*/

@media (max-width: 767.98px) {
  #section4 .card {
    width: auto!important; 
    
  }

  /* body {
    border: thick solid green;
  } */
}

/* @media  (min-width: 576px) and (max-width: 767.98px)  {
  
  #section4 .card {
    width: auto!important; 
    
  } */
  
  /* body {
    border: thick solid green;
  } */
/* } */

/*Medium
Standard iPad
*/
@media  (min-width: 768px)  {
  
  /* body {
    border: thick solid yellow;
  } */
}

/*Large
iPad Pro 
*/
@media  (min-width: 992px)  {
  
  /* body {
    border: thick solid pink;
  } */
  
}

/*Extra Large
Surface Pro 4, PCs & laptops
*/
@media (min-width: 1200px) {
  
  /* body {
    border: thick solid purple;
  } */
  
}